.featured{
    padding: 1rem 0;
    display: grid;
    justify-content: center;
}

.featured-card{
    border-radius: 0.6em;
    /* min-width: 200px; */
    position: relative;
    max-width: 550px;
    box-shadow: 0 0 10px 0.5px rgba(182, 182, 182, 0.726);
    cursor: pointer;
}
.feat-img-wrap{
    height: 550px;
}
.feat-info-wrap{
    word-break: break-all;
    word-wrap: break-word;
}
.feat-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(---brad);
    border-top-right-radius: var(---brad);
}

.feat-info-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
}

.pfp-info-wrap{
    display: grid;
    align-items: center;
    grid-gap: 0.5rem;
}
.artist-pfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pfp-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.learn-more{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.learn-more a{
    text-decoration: none;    
    color: var(---primary-col)!important;
}


.green-icon{
    background-color: var(---third-col);
}

.next-icon{
    border: none;
    /* padding: 0.4rem; */
    width: 25px;
    height: 25px;
    color: var(---light-txt);
    font-weight: 700;
    border-radius: 50%;
}

